*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(22, 20, 56);
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 15px;
}

a:hover{
    background-color: snow;
    color: black;
    border-radius: 5px;
}

.nav-bar{
    text-align: right;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(21, 21, 44);
}

#foto-perfil{
    width: 300px;
    height: 300px;
    padding-left: 50px;
    padding-top: 30px;
}

.contenido{
    display: flex;
}

.texto{
    padding-left: 40px;
    padding-top: 50px;
}

.texto h2{
    padding-top: 30px;
}

.habilidades{
    display: block;
}

.habilidades img{
    width: 100px;
    height: 100px;
    padding-top: 20px;
    padding-right: 15px;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 20px;
}

.habilidades img:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease;
}